@import "tailwindcss";

.or {
  position: relative;
}

#nprogress .bar {
  background: #ff5733 !important; /* 🔴 pick any color */
}

.or::after {
content: "";
width: 175px;
height: 1px;
position: absolute;
background-color: gray;
left: 25px;
top: 50%;
}
.or::before {
content: "";
width: 175px;
height: 1px;
position: absolute;
background-color: gray;
right: 25px;
top: 50%;
}