@import "tailwindcss";

.or {
  position: relative;
}

#nprogress .bar {
  background: #ff5733 !important; /* 🔴 pick any color */
}

.or::after {
  content: "";
  width: 30px;
  height: 1px;
  position: absolute;
  background-color: gray;
  left: 25px;
  top: 50%;
}
.or::before {
  content: "";
  width: 30px;
  height: 1px;
  position: absolute;
  background-color: gray;
  right: 25px;
  top: 50%;
}



@utility container {
  padding-inline: 10px;
  margin-inline: auto;

  @variant sm {
    padding-inline: 1px;
  }

  @variant lg {
    padding-inline: 120px;
  }


}
